/* CSS for profile page START */

/* CSS for profile page END */

main.main{
  background-color: white;
}
.main .container-fluid {
  padding: 15px 30px 0px 30px !important;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.whole-page-spiner {
  z-index: 9999;
  background-color: white;
  text-align: center;
  font-size: 100px;
  padding-top: 150px;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container-block-spiner {
  z-index: 1;
  background-color: white;
  text-align: center;
  font-size: 100px;
  padding-top: 210px;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logoutButton {
  cursor: pointer;
}

.color-cadetblue {
  color: cadetblue;
}

.color-blue {
  color: 	#20a8d8;
}

.color-white {
  color: 	#ffffff;
}
.cursor-pointer {
  cursor: pointer;
}

.min-width-120{
  min-width: 120px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-10 {
  margin-right: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}
.m-l-20 {
  margin-left: 20px;
}

.p-l-10 {
  padding-left: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-m15 {
  margin-top: -15px;
}

.border-left-2-grey {
  border-left: 2px solid grey;
}

.separator {
  height: 1px;
  background-color: #dadada;
  margin: 8px 0px 8px 0px;
}

.semi_container{
  padding: 15px;
}

.AddMemberFrom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.remove-icon-project-members {
  margin: 1px 0px 1px 10px;
}

.comments-container .profile-image {
  width: 26px;
  border-radius: 50%;
}

.comments-container .profile-name {
  margin-left: 10px;
  font-size: 16px;
  color: teal;
}

.comments-container .comment-body {
  font-size: 13px;
  margin: 5px 0 0 0;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}
.comments-container .comment-body table td, th {
  border: 1px solid lightgray;
}

.taskDescription{
  border: 1px solid #dadada;
  padding: 10px;
}
.taskDescription table td, th {
  border: 1px solid lightgray;
}

.projectDescription{
  border: 1px solid #dadada;
  padding: 10px;
}
.projectDescription table td, th {
  border: 1px solid lightgray;
}

.comments-container .comment {
  border-bottom: 1px solid #dadada;
  margin-bottom: 12px;
  background-color: #e4e7ea;
  padding: 5px;
  border-radius: 5px;
}

.comments-container .comment:hover {
  background-color: #acb4bc;
}

.comments-container .created-date {
  margin-left: 10px;
  font-size: 10px;
  color: gray;
}
.Conversation{
}
.Conversation .channels-contacts {
  /*border-right: 1px solid #dadada;*/
  /* min-height: 400px; */
  margin-bottom: 15px;
}

.Conversation .channels-contacts .new-message-icon {
  color: #5d2e0b;
  font-weight: bold;
  margin-left: 20px;
  font-size: 12px;
  background-color: gold;
  padding: 0 3px;
  border-radius: 3px;
}

.Conversation .conversation-rendering {
  border-left: 2px solid #dadada;
  padding-bottom: 10px;
}

.Conversation .chat-text-box {
  margin-top: 20px;
}

.Conversation .messages-container {
  height: 395px;
  overflow-y: scroll;
  margin-left: -30px;
}

.Conversation .channel-contact-info {
  font-size: 19px;
  color: green;
  /*background-color: #b3d4f1;*/
  margin-bottom: 10px;
  padding: 5px 0px 7px 10px;
  margin-left: -16px;
  background-image: linear-gradient(to right, #e2f5e5, #a0d2cd, #b1bcbf, #acc6d5, #d9b7ec);
}

.Conversation .channel-contact-info .group-single-chat-image {
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
}
.Conversation .channel-contact-info .group-single-chat-title {
  margin-left: 10px;
  font-size: 11px;
  color: azure;
}
.Conversation .channel-contact-info .project-members {
  margin-left: 10px;
  font-size: 13px;
  color: #1f254a;
  cursor: pointer;
}
.Conversation .channel-contact-info .group-members .member-list {
  margin: 5px;
  padding: 2px 7px 2px 7px;
  border-radius: 3px;
  background-color: #415ae6;
  float: left;
}
.Conversation .channel-contact-info .group-members {
  background-color: #594ae933;
  /*margin: 10px 10px 0px 0px;*/
  border-radius: 2px;
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
  color: #22f52c;
  position: absolute;
  width: 95%;
  left: 0;
  top: 47px;
}

.Conversation .channel-or-contact-list {
  padding: 4px;
  color: blue;
  cursor: pointer;
  background-color: aliceblue;
  margin-top: 3px;
}

.Conversation .channel-or-contact-list:hover {
  background-color: mediumblue;
  color: white;
}

.Conversation .messages-container .message {
  margin: 10px 0px 0px 0px;
}

.Conversation .messages-container .message .profile-image {
  width: 26px;
  border-radius: 50%;
  margin-top: 10px;
}

.Conversation .messages-container .message .created-date {
  font-size: 10px;
  color: yellowgreen;
}

.Conversation .messages-container .message .message-sender {
  float: left;
  width: 8%;
}

.Conversation .messages-container .message .profile-name {
  color: deepskyblue;
  font-size: 12px;
}

.Conversation .messages-container .message .message-body {
  float: left;
  width: 90%;
  background-color: aliceblue;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.Conversation .messages-container .message .m-body {
  font-size: 13px;
  line-height: 1.6;
  color: darkcyan;
  padding: 3px;
}

.clear {
  clear: both;
}
.member-relationship{
  position: absolute;
  top: 20px;
  background-color: #9fadf8;
  border: 1px solid #545cf5;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  color: #2c43a7;
  right: 0;
}
.position-relative{
  position: relative;
}
.header-json{
  font-style: italic;
  font-family: initial;
  color: #D1D1D1;
}


 .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: hidden;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
   .messages {
    max-height: calc(100% - 105px);
  }
}
 .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
 .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
 .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  /*margin: 15px 15px 5px 15px;*/
  width: calc(100% - 25px);
  font-size: 0.9em;
}
 .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
 .messages ul li.sent img {
  margin: 0 8px 0 0;
}
 .messages ul li.sent p {
   float: left;
}
 .messages ul li.sent p .message_body{
   /*background: #fdd6f0a3;*/
   color: #b10aa1;
   border: 1px solid #eca3ec8a;
   -webkit-box-shadow: 1px 1px 6px 1px rgb(243, 215, 240);
   -moz-box-shadow: 1px 1px 6px 1px rgb(243, 215, 240);
   box-shadow: 1px 1px 6px 1px rgb(243, 215, 240);
}
 .messages ul li.replies img {
  float: right;
  margin: 0 0 0 8px;
}
 .messages ul li.replies p {
  float: right;
   text-align: right;
}
 .messages ul li.replies p .message_body{
   /*background: #edf7df;*/
   border: 1px solid #a5e4a5;
   text-align: left;
   color: #117711;
   -webkit-box-shadow: 1px 1px 6px 1px rgb(219, 251, 219);
   -moz-box-shadow: 1px 1px 6px 1px rgb(219, 251, 219);
   box-shadow: 1px 1px 6px 1px rgb(219, 251, 219);
}
.messages ul li.replies p .date_time {
  float: right;
  font-size: 9px;
  color: #87bf80;
  margin-right: 10px;
}
.messages ul li.replies p .user_name {
  float: right;
  color: grey;
}
.messages ul li.sent p .date_time {
  float: left;
  font-size: 9px;
  color: #d898a4;
  margin-left: 10px;
}
.messages ul li.sent p .user_name {
  float: left;
  margin-right: 50px;
}
 .messages ul li img {
  width: 32px;
  border-radius: 50%;
  float: left;
   /*border: 2px solid #dadada;*/
   -webkit-box-shadow: 2px 2px 6px 1px rgba(131,196,214,1);
   -moz-box-shadow: 2px 2px 6px 1px rgba(131,196,214,1);
   box-shadow: 2px 2px 6px 1px rgba(131,196,214,1);
}
 .messages ul li p {
  max-width: 205px;
}
 .messages ul li p .message_body{
  display: inline-block;
  padding: 9px 15px;
  border-radius: 20px;
  line-height: 130%;
}



.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.list-item-appear {
  opacity: 0.01;
}

.list-item-appear.list-item-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.list-item-enter {
  opacity: 0.01;
  transform: translate(0, 1em);
}

.list-item-enter.list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transform:translate(0,0);
}

.list-item-leave {
  opacity: 1;
}

.list-item-leave.list-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transform:translate(-5em, 0) scale(0,0);
}


@media screen and (min-width: 735px) {
   .messages ul li p {
    max-width: 300px;
  }
}

@media screen and (min-width: 835px) {
   .messages ul li p {
    max-width: 400px;
  }
}

@media screen and (min-width: 950px) {
   .messages ul li p {
    max-width: 550px;
  }
}
